body { 
	margin:10px; 
}

label {
	width: 100px;
	display: block;
	float: left;
}

.keyword {
	padding: 3px;
	padding-right: 0px;
	margin-right: 10px;
	background-color: #EDEDED;
}

.remove-keyword {
	padding: 3px;
	margin-left: 3px;
	background-color: #BBB;
	cursor: pointer;
	height: 100%
}
