body { 
	margin:10px; 
}

label {
	width: 100px;
	display: block;
	float: left;
}

    input {
    	width: 300px;
        border: 1px solid black;
    }
    
    .tags {
        border: 1px solid black;
        padding: 1px;
        overflow: auto;
    }

    .tags span {
        background-color: #ccc;
        padding-left: 1px;
        padding-right: 1px;
        margin-right: 5px;
    }

    .tags span.x {
        cursor: pointer;
        padding-left: 3px;
    }

    
    .tags input {
        border: 1px solid #eee;
        width: 50px;
    }
