body { 
	margin:10px; 
}

label {
	width: 100px;
	display: block;
	float: left;
}

.keyword {
	padding: 3px;
	margin-right: 10px;
	text-decoration: underline;
	background-color: #EDEDED;
}

.keyword.readonly {
	text-decoration: none;
	background-color: #EDEDED;
}

.keyword.selected {
	background-color: #73C5FF;
}

.keyword.selected.readonly {
	background-color: #BBB;
}
